.movies{
	box-sizing: border-box;
	padding: 80px 70px;
}

@media screen and (max-width: 768px){
	.movies{
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media screen and (max-width: 425px){
	.movies{
		padding-left: 10px;
		padding-right: 10px;
	}
}