.sign__label {
	font-size: 10px;
	line-height: 12px;
	font-weight: 400;
	color: #A0A0A0;
	margin-bottom: 5px;
}

.sign__input {
	padding-bottom: 10px;
	border: none;
	border-bottom: 1px solid #E8E8E8;
	margin-bottom: 6px;
	font-size: 14px;
	line-height: 17px;
	padding-left: 0;
	padding-right: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.sign__input:focus{
	outline: none;
}

.sign__input-error{
	font-size: 10px;
	line-height: 12px;
	font-weight: 400;
	color: #FF4062;
	height: 18px;
}

