.promo {
	background-color: #F3C1F8;
	height: calc(100vh - 74px);
	padding: 75px 70px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	color: #000;
}

.promo__img {
	width: 310px;
	height: 304px;
	object-fit: cover;
}

.promo__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.promo__title {
	margin: 0;
	font-size: 50px;
	line-height: 58px;
	font-weight: 400;
	max-width: 640px;
}

.promo__title-word {
	display: block;
}


.promo__text {
	margin: 36px 0 auto;
	width: 310px;
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	opacity: 0.5;
}

.promo__button {
	padding: 10px 0;
	text-align: center;
	background-color: transparent;
	width: 129px;
	opacity: 0.6;
	border: 1px solid #000;
	color: #000;
	box-sizing: border-box;
	border-radius: 3px;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	font-family: 'Inter', sans-serif;
	cursor: pointer;
}

.promo__button:hover{
	opacity: 0.8;
}

@media screen and (max-width: 1000px) {
	.promo {
		flex-direction: column;
		min-height: 850px;
		justify-content: normal;
		align-items: center;
		padding: 140px 30px 66px;
	}

	.promo__info {
		align-items: center;
		text-align: center;
		margin-top: 48px;
		height: 100%;
	}

	.promo__title {
		width: 100%;
		font-size: 40px;
		line-height: 50px;
	}

	.promo__title-word {
		display: inline-block;
	}

	.promo__text {
		margin-top: 22px;
		margin-bottom: auto;
	}
}


@media screen and (max-width: 470px) {
	.promo {
		padding: 70px 0 30px;
		min-height: 636px;
	}

	.promo__img {
		width: 210px;
		height: 206px;
	}

	.promo__title {
		font-size: 30px;
		line-height: 38px;
		letter-spacing: -0.04em;
	}

	.promo__text{
		width: 260px;
	}
}